<footer class="text-center text-lg-start bg-dark text-white">
    <section class="container d-flex justify-content-center justify-content-lg-between p-4">
        <div class="me-5 d-none d-lg-block">
            <span>Get connected with us on social network:</span>
        </div>        
        <div>
            <a href="" class="me-4 text-reset"><i class="fa fa-facebook"></i></a>
            <a href="" class="me-4 text-reset"><i class="fa fa-twitter"></i></a>
            <a href="" class="me-4 text-reset"><i class="fa fa-google"></i></a>
            <a href="https://www.instagram.com/jaiganesh762/" class="me-4 text-reset"><i class="fa fa-instagram"></i></a>
            <a href="" class="me-4 text-reset"><i class="fa fa-linkedin"></i></a>
            <a href="" class="me-4 text-reset"><i class="fa fa-github"></i></a>
        </div>
    </section>
    
    
    <section class="">
        <div class="container text-center text-md-start mt-5">
            <div class="row mt-3">
                <div class="col-md-3 col-lg-4 col-lg-4 col-xl-3 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4"><i class="fa fa-cart-plus"></i>ShopKart</h6>
                    <p>
                        shopkart.com is a one stop destination for your family's fashion needs.
                        we give you the opportunity to give you wardrobe a makeover with the latest collections from our top brand
                    </p>
                </div>
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">Products</h6>
                    <p><a href="#!" class="text-reset">Menu</a></p>
                    <p><a href="#!" class="text-reset">Menu</a></p>
                    <p><a href="#!" class="text-reset">Menu</a></p>
                    <p><a href="#!" class="text-reset">Menu</a></p>
                </div>
                
                <div class="col-md-3 col-lg-2 col-x1-2 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">Useful links</h6>
                    <p><a href="#!" class="text-reset">Menu</a></p>
                    <p><a href="#!" class="text-reset">Menu</a></p>
                    <p><a href="#!" class="text-reset">Menu</a></p>
                    <p><a href="#!" class="text-reset">Menu</a></p>
                </div>
                
                <div class="col-md-4 col-lg-3 col-x1-3 mx-auto mb-md-0 mb-4">
                    <h6 class="text-uppercase fw-bold mb-4"> Contact</h6>
                    <p><i  class="fa fa-home"></i> JAI GANESH</p>
                    <p><i  class="fa fa-envelope"></i> iLifetec@example.com</p>
                    <p><i  class="fa fa-phone"></i> + 91 7094261797</p>
                </div>
            </div>
        </div>
    </section>
    <div class="text-center p-4">
        &copy; 2021 my<a class="text-reset fw-bold" href="https://jaiganesh.in/"> jaiganesh.in</a>
    </div>
</footer>

                
                
                   
                    
    
         
                